.page-header {
  font-family: 'Courier New', Courier, monospace;
}

.tr {
  // justify-content: space-between;
  // width: 500px;
  display: flex;
  border: 1px solid red;
}
.td {
  text-align: left;
  width: 100px;
  border: 1px dotted rgb(98, 0, 255);
}

.align-right {
  width: 100px;
  text-align: right;
  border: 1px dotted rgb(0, 255, 42);
}

.fas {
  cursor: pointer;
}