.page-header {
  font-family: 'Courier New', Courier, monospace;
}
#usersTable {
  font-size: 1.3em;
  display: inline-block;
  font-family:  monospace;
  background-color: rgba(0, 0, 0, 0.05);   
}
.table-header {
  font-weight: 600;
}
.table-search {
  padding: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.table-name {
  // border: 1px solid red;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: 600;
}
.input-search {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05); 
  border-style: none;
  padding-left: 5px;
}

.tr {
  display: flex;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 255, 0.2);
}

.td {
  text-align: left;
  width: 110px;
  padding: 0 7px 0 7px;
  word-wrap: break-word;
}

.align-right {
  .td;
  width: 100px;
  text-align: right;
}
 
.fas {
  cursor: pointer;
  user-select: none;
  display: flex;
}

.b-sort {
  margin-left: 7px;
  padding: 0;
  border-style: none;
}

.btn-actions {
  font-family: 'consolas';
  margin-right: 4px;
}

.btn-add {
  margin-left: 10px;
}

.btn-remove {
  background-color: rgba(255, 0, 0, 0.3);
}